body {
    font-family: 'M PLUS 2', sans-serif;
    background-color: #EDF2F4;
}
div {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    max-width: 800px;
}
h1 {
    text-align: center;
    background-color: #8D99AE;
    color: #EDF2F4;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}
fieldset {
    background-color: #EDF2F4;
}
form {
    padding: 10px;
}
label {
    color: #EF233C;
}
legend {
    text-decoration: underline;
    color: #EF233C;
    margin-right: auto;
    margin-left: auto;
}

.space {
    padding: 3px;
}
input {
padding-right: 3px;
}
.button {
text-align: center;
}
button {
    background-color: #8D99AE;
    color: #EDF2F4;
    padding: 5px;
    border-radius: 10px;
}